h1 {
    background-color: gray;
    color: white;
    display: block;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
}

h2 {
    background-color: gray;
    color: white;
    display: block;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
}

h3 {
    flex-direction: column;
    align-items: center;
}

body {
    background-color: gray;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
}

.modal-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.btn {
    padding-top: 1px;
    padding-bottom: 1px;
    /* border-color: black; */
    margin: 1px;
}